{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <h1>Hello, {{ app.user.username }}</h1>



    {% for question in latestQuestions  %}
        <p>{{ question.title }}</p>
    {% endfor %}

    {# ... #}
{% endblock main %}