*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.fs-lg{
    font-size:20px;
}

.user-avatar{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: gray;
}



.question-card,
.answer-card{
    margin-bottom: 20px;
    /*border:1px solid lightgray;*/
    /*border-radius:8px;*/
    /*box-shadow: 3px 5px 8px lightgray;*/
}

.q-user{
    display: flex;
    align-items: center;
}

.avatar{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}

.q-body{
    padding-left:60px;
}

.q-body .q-title a{
    text-decoration: none;
    color:black;
}

.q-body .q-title a:hover{
    text-decoration: underline;
    color:blue
}



.flash-notice{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
}



/* summernote css*/

.note-editable{
    background-color: transparent !important;
}

.note-statusbar{
    display:none
}
/* summernote css*/
